---
import "../styles/global.css";

const { title = "I.E. Luis Fabio Xammar" } = Astro.props;

const rawBase = import.meta.env.BASE_URL;
const base = rawBase.endsWith("/") ? rawBase : `${rawBase}/`;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href={`${base}favicon.png?v=5`} />

    <title>{title}</title>
  </head>

  <body class="bg-[#0B2344] text-white">
    <slot />
  </body>
</html>